@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* SIGN IN PAGE START */

.app {
  background-image: url('/images/Screenshot 2025-09-24 171203.webp');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.sign-in-wrapper {
  position: absolute;
  width: 27.5vw;
  left: 57.5vw;
  top: 28vh;
}

.sign-in-button {
  font-size: 3.5vw;
  position: absolute;
}

.sign-in-message {
  font-size: 1.25vw;
  position: absolute;
  transform: translate(0.25vw, 12vh);
  top: 15vh;
  left: -3vw;
}

.sign-in-page-logo-wrapper {
  position: absolute;
  top: 17.5vh;
  left: 13vw;
}

.sign-in-page-logo {
  width: 22vw;
}

.mini-sign-in-page-logo {
  position: absolute;
  width: 3vw;
  right: 1vw;
  top: 1vw;
}

.sign-in-page-heading {
  position: absolute;
  font-size: 1.9vw;
  color: white;
  text-align: center;
  font-weight: 900;
  left: 1.4vw;
  padding-top: 2vh;
}

.sign-in-page-sub-heading {
  position: absolute;
  font-size: 0.9vw;
  color: white;
  bottom: -27.5vh;
  left: 3.8vw;
  text-align: center;
}

/* SIGN IN PAGE END */

/* NAV START */

.nav {
  position: absolute;
  top: 6vh;
  left: 3.5vw;
}

.nav-heading {
  position: absolute;
  font-size: 2.75vw;
  font-weight: 500;
}

.page-link {
  display: flex;
  font-size: 1vw;
}

.dashboard-link {
  position: absolute;
  top: 12.5vh;
}

.investments-link {
  position: absolute;
  top: 20vh;
  left: 0.35vw;
}

.dashboard-link:hover {
  color: blue;
}

.investments-link:hover {
  color: blue;
}

.mini-house-icon {
  width: 2vw;
  margin-right: 0.75vw;
}

.mini-chart-icon {
  width: 1.5vw;
  margin-right: 0.75vw;
}

.log-out-button {
  position: absolute;
  font-size: 1vw;
  bottom: -80vh;
  left: 2.4vw;
  width: 4vw;
}

.settings-link {
  position: absolute;
  font-size: 1vw;
  bottom: -73vh;
  left: 2.5vw;
}

.mini-log-out-icon {
  position: absolute;
  width: 1vw;
  left: -1vw;
  top: 0.5vh;
}

.mini-settings-icon {
  position: absolute;
  width: 1.3vw;
  left: -1.2vw;
  bottom: 0.25vh;
}

/* NAV END */



/* REGISTER START */

.register-form {
  position: absolute;
  width: 27.5vw;
  left: 30vw;
  top: 28vh;
  padding: 2vw;
  height: 40vh;
}

.register-button {
  font-size: 0.6vw;
  position: absolute;
  bottom: 0vh;
  width: 4vw;
  height: 2vh;
  color: white;
  background-color: black;
  border-radius: 0.5vw;
}

.username-label {
  font-size: 0.9vw;
  position: absolute;

}

.register-heading {
  font-size: 1.2vw;
  position: absolute;
  font-weight: 500;
  padding-top: 1vh;
  top: -2vh
}

.username-input {
  position: absolute;
  top: 7vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.email-label {
  font-size: 0.9vw;
  position: absolute;
  top: 15vh;
}

.email-input {
  position: absolute;
  top: 18vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.name-label {
  font-size: 0.9vw;
  position: absolute;
  bottom: 10vh;
}

.name-input {
  position: absolute;
  bottom: 7vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

/* REGISTER END */

/* INVEST / DASH / SETTINGS  BACKGROUND */

.app2 {
  background-image: url('/images/Dashboard-background.webp');
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* INVEST / DASH / SETTINGS  BACKGROUND */

/* DASHBOARD PAGE START  */

.dashboard-wrapper {
}

.heading-and-total-balance-wrapper {
  position: absolute;
  left: 25vw;
  top: 7.5vh;
}

.dashboard-heading {
  font-size: 2vw;
  font-weight: 500;
}

.total-balance {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.total-balance-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.statistics-wrapper {
  position: absolute;
  left: 25vw;
  top: 37vh;
}

.statistics {
  background-color: rgb(34, 34, 44);
  width: 37.5vw;
  height: 34vh;
}

.statistics-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
  color: white;
}

.goals-wrapper {
  position: absolute;
  bottom: 27.5vh;
  left: 25vw;
}

.goals {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.goals-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.goals-sub-heading {
  position: absolute;
  top: 3.5vh;
  left: 0.6vw;
  font-size: 0.7vw;
}

.spending-wrapper {
  position: absolute;
  bottom: 27.5vh;
  left: 44.5vw;
}

.spending {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.spending-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.profile-and-holdings-wrapper {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 32vw;
  height: 80vh;
  /* background-color: pink; */
}

.profile {
  position: absolute;
  right: 0vw;
  top: 0vh;
}

.profile-photo {
  position: absolute;
  left: -2.5vw;
  top: 0.3vh;
  width: 2.1vw;
  border-radius: 1vw;
}

.profile-name {
  font-size: 1.8vw;
  font-weight: 500;
}

.holdings {
  position: absolute;
  top: 12vh;
  /* background-color: grey; */
  width: 32vw;
  height: 68vh;
}

.holdings-heading {
  position: absolute;
  font-size: 1.8vw;
  font-weight: 500;
  top: 0vw;
  left: 0vw;
}

.holdings-buttons {
  position: absolute;
  top: 5.5vh;
}

.dashboard-radio-buttons {
  margin-right: 1.25vw;
}

.dashboard-holdings-buttons {

}

.holdings-display {
  position: absolute;
  width: 32vw;
  height: 58vh;
  top: 10vh;
  /* background-color: aquamarine; */
}

.asset-holdings-wrapper {
  position: relative;
  width: 32vw;
  /* background-color: yellow; */
}

.asset-holdings-name {
  position: relative;
  left: 0;
  top: 0;
  font-size: 1.2vw;
  font-weight: 500;
}

.asset-holdings-shares {
  position: relative;
  width: 32vw;
  padding-bottom: 3vw;
  left: 25vw;
  top: 1.5vh;
}

.asset-USD-value {
  font-size: 0.9vw;
}

/* DASHBOARD PAGE END  */

/* SETTINGS PAGE START */

.settings-page-wrapper {
  position: absolute;
  width: 77.75vw;
  height: 100vh;
  left: 22.25vw;
}

.profile-wrapper {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 10vw;
}

.settings-tabs-wrapper {
  position: absolute;
  width: 20vw;
  height: 15vh;
  top: 7vh;
  left: 3vw;
}

.settings-heading {
  position: absolute;
  font-size: 1.5vw;
  top: 0vw;
  left: 0vw;
}

.profile-settings-link {
  position: absolute;
  top: 10vh;
  left: 8vw;
}

.adjust-holdings-link {
  position: absolute;
  top: 10vh;
}

/* ADJUST HOLDINGS START */

.adjust-holdings-wrapper {
  position: absolute;
  width: 60vw;
  height: 70vh;
  top: 25vh;
  left: 25.25vw;
}

.adjust-holdings {
  position: absolute;
  width: 57.5vw;
  height: 65vh;
}

.adjust-holdings-heading {
  position: absolute;
  font-size: 1.5vw;
  top: 0vw;
  left: 0vw;
}

.adjust-holdings-form {
  position: absolute;
  top: 10vh;
}

.adjust-ticker-form-label {
  position: absolute;
  width: 15vw;
  top: 0vh;
}

.adjust-asset-name-form-label {
  position: absolute;
  width: 15vw;
  top: 15vh;
}

.adjust-shares-form-label {
  position: absolute;
  top: 30vh;
  width: 15vw;
}

.adjust-form-submit-button {
  position: absolute;
  left: 0vw;
  top: 45vh;
  color: white;
  background-color: black;
  border-radius: 0.5vw;
  width: 20vw;
  height: 4vh;
}

.adjust-stocksandetfs-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.adjust-crypto-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.adjust-name-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
}

.adjust-shares-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
}

.adjust-ticker-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
}

.display-holdings {
  position: absolute;
  width: 49.75vw;
  height: 70vh;
  left: 25vw;
  overflow-y: auto;
}

.current-holdings-heading {
  position: absolute;
  font-size: 1.5vw;
  top: 0vw;
  left: 0vw;
}

.user-assets-wrapper {

}

.user-assets-name {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
  font-weight: 500;
}

.user-assets-ticker {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
}

.user-assets-shares {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
}

.user-asset-delete {
  position: relative;
  top: 10vh;
  padding-bottom: 3vh;
  color: red;
}

/* ADJUST HOLDINGS END */

/* PROFILE SETTINGS START */

/* PROFILE SETTINGS END */

/* SETTINGS PAGE END */
