@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* SIGN IN PAGE START */

.app {
  background-image: url('/images/Screenshot 2025-09-24 171203.webp');
  background-size: 100vw 100vh; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed when scrolling */
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.sign-in-wrapper {
  position: absolute;
  width: 27.5vw;
  left: 57.5vw;
  top: 28vh;
}

.sign-in-button {
  font-size: 3.5vw;
  position: absolute;
}

.sign-in-message {
  font-size: 1.25vw;
  position: absolute;
  transform: translate(0.25vw, 12vh);
  top: 15vh;
  left: -3vw;
}

.sign-in-page-logo-wrapper {
  position: absolute;
  top: 17.5vh;
  left: 13vw;
}

.sign-in-page-logo {
  width: 22vw;
}

.mini-sign-in-page-logo {
  position: absolute;
  width: 3vw;
  right: 1vw;
  top: 1vw;
}

.sign-in-page-heading {
  position: absolute;
  font-size: 1.9vw;
  color: white;
  text-align: center;
  font-weight: 900;
  left: 1.4vw;
  padding-top: 2vh;
}

.sign-in-page-sub-heading {
  position: absolute;
  font-size: 0.9vw;
  color: white;
  bottom: -27.5vh;
  left: 3.8vw;
  text-align: center;
}

/* SIGN IN PAGE END */

/* NAV START */

.nav {
  position: absolute;
  top: 6vh;
  left: 3.5vw;
}

.nav-heading {
  position: absolute;
  font-size: 2.75vw;
  font-weight: 500;
}

.page-link {
  display: flex;
  font-size: 1vw;
}

.dashboard-link {
  position: absolute;
  top: 12.5vh;
}

.investments-link {
  position: absolute;
  top: 20vh;
  left: 0.35vw;
}

.dashboard-link:hover {
  color: blue;
}

.investments-link:hover {
  color: blue;
}

.mini-house-icon {
  width: 2vw;
  margin-right: 0.75vw;
}

.mini-chart-icon {
  width: 1.5vw;
  margin-right: 0.75vw;
}

.log-out-button {
  position: absolute;
  font-size: 1vw;
  bottom: -80vh;
  left: 2.4vw;
  width: 4vw;
}

.log-out-button:hover {
  color: blue;
}

.settings-link {
  position: absolute;
  font-size: 1vw;
  bottom: -73vh;
  left: 2.5vw;
}
.settings-link:hover {
  color: blue;
}

.mini-log-out-icon {
  position: absolute;
  width: 1vw;
  left: -1vw;
  top: 0.5vh;
}

.mini-settings-icon {
  position: absolute;
  width: 1.3vw;
  left: -1.2vw;
  bottom: 0.25vh;
}

/* NAV END */

/* REGISTER START */

.register-form {
  position: absolute;
  width: 27.5vw;
  left: 30vw;
  top: 28vh;
  padding: 2vw;
  height: 60vh;
}

.register-button {
  font-size: 0.6vw;
  position: absolute;
  bottom: 0vh;
  width: 4vw;
  height: 2vh;
  color: white;
  background-color: black;
  border-radius: 0.5vw;
}

.register-button:hover {
  color: blue;
}

.username-label {
  font-size: 0.9vw;
  position: absolute;
}

.register-heading {
  font-size: 1.2vw;
  position: absolute;
  font-weight: 500;
  padding-top: 1vh;
  top: -2vh;
}

.username-input {
  position: absolute;
  top: 7vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.email-label {
  font-size: 0.9vw;
  position: absolute;
  top: 14vh;
}

.email-input {
  position: absolute;
  top: 17vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.name-label {
  font-size: 0.9vw;
  position: absolute;
  bottom: 10vh;
}

.name-input {
  position: absolute;
  bottom: 7vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.goal-label {
  font-size: 0.9vw;
  position: absolute;
  bottom: 32vh;
}

.goal-input {
  position: absolute;
  bottom: 29vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

.goal-cost-label {
  font-size: 0.9vw;
  position: absolute;
  bottom: 21vh;
}

.goal-cost-input {
  position: absolute;
  bottom: 18vh;
  width: 10vw;
  height: 2.5vh;
  border: 2px solid black;
  border-radius: 0.4vw;
  color: black;
}

/* REGISTER END */

/* INVEST / DASH / SETTINGS  BACKGROUND */

.app2 {
  background-image: url('/images/Dashboard-background.webp');
  background-size: 100vw 100vh;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* INVEST / DASH / SETTINGS  BACKGROUND */

/* DASHBOARD PAGE START  */

.dashboard-wrapper {
}

.heading-and-total-balance-wrapper {
  position: absolute;
  left: 25vw;
  top: 7.5vh;
}

.dashboard-heading {
  font-size: 2vw;
  font-weight: 500;
}

.total-balance {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.total-balance-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.statistics-wrapper {
  position: absolute;
  left: 25vw;
  top: 37vh;
}

.statistics {
  background-color: rgb(34, 34, 44);
  width: 37.5vw;
  height: 34vh;
}

.statistics-heading {
  position: absolute;
  font-size: 1vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
  color: white;
}

.spending-wrapper {
  position: absolute;
  bottom: 27.5vh;
  left: 44.5vw;
}

.spending {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.spending-heading {
  position: absolute;
  font-size: 1.2vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.asset-distribution-chart {
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: calc(100% - 5vh);
}

.profile-and-holdings-wrapper {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 32vw;
  height: 80vh;
  /* background-color: pink; */
}

.profile {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 10vw;
}

.profile-photo {
  position: absolute;
  left: -2.5vw;
  top: 0.3vh;
  width: 2.1vw;
  border-radius: 1vw;
}

.profile-name {
  font-size: 1.8vw;
  font-weight: 500;
}

.holdings {
  position: absolute;
  top: 12vh;
  /* background-color: grey; */
  width: 32vw;
  height: 68vh;
}

.holdings-heading {
  position: absolute;
  font-size: 1.8vw;
  font-weight: 500;
  top: 0vw;
  left: 0vw;
}

.holdings-buttons {
  position: absolute;
  top: 5.5vh;
}

.holdings-buttons:hover {
  color: blue;
}

.dashboard-radio-buttons {
  margin-right: 1.25vw;
}

.holdings-display {
  position: absolute;
  width: 32vw;
  height: 58vh;
  top: 10vh;
}

.asset-holdings-wrapper {
  position: relative;
  width: 32vw;
  display: flex;
}

.asset-holdings-name {
  position: relative;
  left: 0;
  top: 0;
  font-size: 1.2vw;
  font-weight: 500;
  width: 12vw;
}

.asset-holdings-shares {
  position: relative;
  width: 32vw;
  padding-bottom: 3vw;
  left: 15.5vw;
}

.asset-USD-value {
  font-size: 0.9vw;
}

.asset-holdings-value {
  font-size: 1.2vw;
  font-weight: 400;
  position: relative;
}

.asset-shares {
  font-size: 0.7vw;
  position: relative;
}

.toggle-currency-label {
  display: flex;
  gap: 0.5vw;
  align-items: center;
  margin-right: 1.25vw;
  font-weight: 600;
  color: black;
}

.toggle-currency-buttons {
  font-size: 0.7vw;
  color: black;
  background-color: lightgrey;
  border-radius: 0.5vw;
  width: 2vw;
  height: 2vh;
}

.toggle-currency-buttons:hover {
  color: rgb(127, 170, 61);
}

.toggle-currency-buttons:active {
  background-color: rgb(127, 170, 61);
  color: red;
}

.total-balance-value {
  position: absolute;
  font-size: 1.5vw;
  font-weight: 500;
  top: 35%;
  left: 0.7vw;
}

.total-cost-value {
  position: absolute;
  font-size: 0.85vw;
  font-weight: 500;
  bottom: 2vh;
  right: 0.7vw;
}

.total-balance-divider {
  position: absolute;
  font-size: 1.5vw;
  font-weight: 500;
  bottom: -1vh;
  left: -2.75vw;
}

.total-cost-expense-p {
  font-size: 0.7vw;
  font-weight: 500;
  right: 0.7vw;
  color: red;
}

.total-income-p {
  position: absolute;
  font-size: 0.7vw;
  font-weight: 500;
  left: -11vw;
  color: rgb(34, 139, 34);
  bottom: 2.25vh;
}

.total-income-value {
  position: absolute;
  font-size: 0.85vw;
  font-weight: 500;
  left: -11vw;
  bottom: 0vh;
}

.pie-chart {
  position: absolute;
  top: 5vh;
  left: 11vw;
  width: 15vw;
  height: 25vh;
}

.goals-wrapper {
  position: absolute;
  bottom: 27.5vh;
  left: 25vw;
  display: flex;
}

.goals {
  position: absolute;
  background-color: lightgrey;
  width: 18vw;
  height: 10vw;
  margin-top: 1vh;
}

.goals-heading {
  position: absolute;
  font-size: 1.2vw;
  font-weight: 500;
  left: 0.7vw;
  top: 0.7vh;
}

.goals-sub-heading {
  position: absolute;
  top: 3.5vh;
  left: 0.6vw;
  font-size: 0.7vw;
}

.goals-sub-heading-user-goal {
  position: absolute;
  top: 4.5vh;
  left: 0.6vw;
  font-size: 0.9vw;
}

.goals-sub-heading-user-goal-cost {
  position: absolute;
  bottom: 1.25vh;
  right: 2vw;
  font-size: 0.8vw;
  display: flex;
  gap: 0.3vw;
}

.line-chart {
  position: absolute;
  top: 2.7vh;
  width: 70%;
  height: 70%;
  left: 5vw;
}

.total-balance-percentage-gain-or-loss {
  position: absolute;
  right: 0.5vw;
  font-size: 0.8vw;
  top: 0.5vh;
}

.up-arrow-gain {
  position: absolute;
  width: 1.15vw;
  left: -1.3vw;
}

.down-arrow-loss {
  position: absolute;
  width: 1.15vw;
  left: -1.3vw;
}

/* DASHBOARD PAGE END  */

/* SETTINGS PAGE START */

.settings-page-wrapper {
  position: absolute;
  width: 77.75vw;
  height: 100vh;
  left: 22.25vw;
}

.profile-wrapper {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 10vw;
}

.settings-tabs-wrapper {
  position: absolute;
  width: 20vw;
  height: 15vh;
  top: 7vh;
  left: 3vw;
}

.settings-heading {
  position: absolute;
  font-size: 1.5vw;
  top: 0vw;
  left: 0vw;
}

.profile-settings-link {
  position: absolute;
  top: 10vh;
  left: 0vw;
}

.profile-settings-link:hover {
  color: blue;
}

.adjust-holdings-link {
  position: absolute;
  top: 27.5vh;
  left: 0;
  width: 10vw;
}

.adjust-holdings-link:hover {
  color: blue;
}

/* ADJUST HOLDINGS START */

.adjust-holdings-wrapper {
  position: absolute;
  width: 60vw;
  height: 70vh;
  top: 8vh;
  left: 25.25vw;
}

.adjust-holdings-profile-wrapper {
  position: absolute;
  right: 2vw;
  top: 3vh;
  width: 10vw;
}

.adjust-holdings {
  position: absolute;
  width: 57.5vw;
  height: 65vh;
}

.adjust-holdings-heading {
  position: absolute;
  font-size: 2vw;
  font-weight: 500;
  top: 0vw;
  left: 0vw;
}

.adjust-holdings-form {
  position: absolute;
  top: 10vh;
}

.adjust-ticker-form-label {
  position: absolute;
  width: 11vw;
  top: 0vh;
  font-size: 0.75vw;
}

.adjust-asset-name-form-label {
  position: absolute;
  width: 9.4vw;
  top: 15vh;
  font-size: 0.75vw;
}

.adjust-shares-form-label {
  position: absolute;
  top: 30vh;
  width: 9.3vw;
  font-size: 0.75vw;
}

.adjust-form-submit-button {
  position: absolute;
  left: 0vw;
  top: 57.5vh;
  color: white;
  background-color: black;
  border-radius: 0.5vw;
  width: 20vw;
  height: 4vh;
}

.adjust-stocksandetfs-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.adjust-crypto-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.adjust-name-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.adjust-shares-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.adjust-ticker-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.display-holdings {
  position: absolute;
  width: 49.75vw;
  height: 78vh;
  left: 41vw;
  overflow-y: auto;
  top: 8vh;
}

.current-holdings-heading {
  position: absolute;
  font-size: 2vw;
  font-weight: 500;
  top: 0vw;
  left: 0vw;
}

.user-assets-wrapper {
  margin-top: 1vw;
}

.user-assets-name {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
  font-weight: 500;
}

.user-assets-ticker {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
}

.user-assets-shares {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
}

.user-asset-delete {
  position: relative;
  top: 10vh;
  padding-bottom: 3vh;
  color: red;
}

.adjust-cost-form-label {
  position: absolute;
  top: 45vh;
  width: 17.6vw;
  font-size: 0.75vw;
}

.adjust-cost-input {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.user-asset-cost {
  position: relative;
  top: 10vh;
  font-size: 0.9vw;
}

.mini-adjust-holdings-icon {
  width: 2vw;
  margin-right: 0.5vw;
}

.current-holdings-disclaimer {
  position: absolute;
  top: 5.5vh;
  font-size: 0.75vw;
  margin-top: 0.3vw;
}

/* ADJUST HOLDINGS END */

/* PROFILE SETTINGS STAR */

.profile-settings-wrapper {
  position: absolute;
  width: 40vw;
  height: 70vh;
  top: 17.5vh;
  left: 25.25vw;
}

.profile-settings-heading {
  position: absolute;
  font-size: 1.5vw;
  top: 0vw;
  left: 0vw;
}

.profile-form-label-name {
  position: absolute;
  width: 11vw;
  top: 10vh;
  font-size: 0.8vw;
}

.profile-form-input-name {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.profile-form-label-email {
  position: absolute;
  width: 11vw;
  top: 20vh;
  font-size: 0.8vw;
}

.profile-form-input-email {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.profile-form-label-username {
  position: absolute;
  width: 11vw;
  top: 30vh;
  font-size: 0.8vw;
}

.profile-form-input-username {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.profile-form-submit-button {
  position: absolute;
  left: 0vw;
  top: 67.5vh;
  color: white;
  background-color: black;
  border-radius: 0.5vw;
  width: 20vw;
  height: 4vh;
}

.profile-form-label-goal {
  position: absolute;
  width: 11vw;
  top: 40vh;
  left: 0vw;
  font-size: 0.8vw;
}

.profile-form-input-goal {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

.profile-form-label-goal-cost {
  position: absolute;
  width: 11vw;
  top: 50vh;
  left: 0vw;
  font-size: 0.8vw;
}

.profile-form-input-goal-cost {
  border: 2px solid black;
  border-radius: 0.4vw;
  padding-top: 0.5vh;
  margin-top: 0.5vh;
  width: 9vw;
}

/* PROFILE SETTINGS END */

/* SETTINGS PAGE END */

/* INVESTMENTS PAGE START */

.investments-wrapper {
  position: absolute;
  width: 73vw;
  height: 95vh;
  left: 25vw;
}

.investments-heading-overview-wrapper {
  position: absolute;
  width: 73vw;
  height: 30vh;
}

.investments-heading {
  position: absolute;
  font-size: 2vw;
  font-weight: 500;
  top: 7vh;
}

.total-investments-wrapper {
  position: absolute;
  top: 13.5vh;
  width: 20vw;
  height: 16vh;
  background-color: lightgray;
}

.number-of-investments-wrapper {
  position: absolute;
  top: 13.5vh;
  width: 20vw;
  height: 16vh;
  background-color: lightgray;
  left: 25vw;
}

.rate-of-return-wrapper {
  position: absolute;
  top: 13.5vh;
  width: 20vw;
  height: 16vh;
  background-color: lightgray;
  left: 50vw;
}

.rate-of-return-icon {
  position: absolute;
  width: 3.5vw;
  border-radius: 1.7vw;
  background-color: rgb(184, 184, 184);
  padding: 0.6vw;
  top: 4.5vh;
  left: 4.5vw;
}

.stack-of-coins-icon {
  position: absolute;
  width: 3.5vw;
  border-radius: 1.7vw;
  background-color: rgb(184, 184, 184);
  padding: 0.6vw;
  top: 4.5vh;
  left: 4.5vw;
}

.dollar-sign-icon {
  position: absolute;
  width: 3.5vw;
  border-radius: 1.7vw;
  background-color: rgb(184, 184, 184);
  padding: 0.6vw;
  top: 4.5vh;
  left: 4.5vw;
}

.total-investments-heading {
  position: absolute;
  font-weight: 400;
  color: rgb(92, 92, 92);
  font-size: 0.8vw;
  top: 4.5vh;
  left: 8.5vw;
}

.number-of-investments-heading {
  position: absolute;
  font-weight: 400;
  color: rgb(92, 92, 92);
  font-size: 0.8vw;
  top: 4.5vh;
  left: 8.5vw;
}

.rate-of-return-heading {
  position: absolute;
  font-weight: 400;
  color: rgb(92, 92, 92);
  font-size: 0.8vw;
  top: 4.5vh;
  left: 8.5vw;
}

.total-invested-value {
  position: absolute;
  font-weight: 450;
  font-size: 1.5vw;
  top: 7vh;
  left: 8.5vw;
}

.investments-buttons {
  position: absolute;
  top: 9vh;
  left: 25.5vw;
}

.rate-of-return-value {
  position: absolute;
  font-weight: 450;
  font-size: 1.4vw;
  top: 7vh;
  right: 6.5vw;
}

.number-of-investments-value {
  position: absolute;
  font-weight: 450;
  font-size: 1.4vw;
  top: 7vh;
  left: 8.5vw;
}

.my-investments-wrapper {
  position: absolute;
  top: 68vh;
  width: 41vw;
  height: 35vh;
  overflow-y: auto;
}

.my-investments-heading {
  position: relative;
  left: 0vw;
  top: 0vh;
  font-size: 1.7vw;
  font-weight: 500;
  width: 13vw;
  margin-bottom: 3vh;
}

.my-investments {
  position: relative;
  display: inline-flex;
  width: 40vw;
  margin-bottom: 3vh;
  border-bottom: 0.1vh solid lightgray;
}

.investments-asset-name {
  position: relative;
  left: 0vw;
  top: 0vh;
  font-size: 1vw;
  font-weight: 500;
  width: 13vw;
}

.investments-asset-value {
  position: relative;
  left: 10vw;
}

.investments-asset-gain-or-loss {
  position: relative;
  left: 20vw;
}

.yearly-total-revenue-wrapper {
  position: absolute;
  width: 70vw;
  height: 35vh;
  top: 32vh;
  background-color: lightgray;
}

.yearly-total-revenue-heading {
  position: absolute;
  font-size: 1.7vw;
  font-weight: 500;
  width: 21vw;
  
}

.yearly-total-revenue-value {
  position: absolute;
  top: 10vh;
  color: white;
}

.monthly-line-chart-data {
  position: absolute;
  top: 6vh;
  width: 100%;
  height: 87.5%;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

/* INVESTMENTS PAGE END */
